
<div class="flex product-wrap">
    <div class="product-table" style="width: 100%">
        <div class="export-row flex subscription-outer-actions">
            <button class="btn" (click)="addStore()">+ Add store</button>
        </div>
        <div class="table-responsive subscription-content-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Calendar Period</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Booking Not Allowed Days</th>
                         <th>Saturday Off</th>
                        <th>Sunday Off</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments">
                        <td>{{ appointment.calendarPeriod }}</td>
                        <td>{{ appointment.startTime }}</td>
                        <td>{{ appointment.endTime }}</td>
                        <td>{{ appointment.bookingNotAllowedDays }}</td>
                         <td>{{ appointment.saturdayOff }}</td>
                        <td>{{ appointment.sundayOff }}</td>
                        <td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>