
<div class="flex product-wrap">
    <div class="product-table" style="width: 100%">
        <div class="export-row flex subscription-outer-actions">
            <button class="btn" (click)="addStore()">+ Add store</button>
        </div>
        <div class="table-responsive subscription-content-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Appointment Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Remarks</th>
                        <th>Active</th>
                        <th>Booked Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let appointment of appointments">
                        <td>{{ appointment.appointmentId }}</td>
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.gender }}</td>
                        <td>{{ appointment.email }}</td>
                        <td>{{ appointment.mobile }}</td>
                        <td>{{ appointment.appointmentDate }}</td>
                        <td>{{ appointment.appointmentTime }}</td>
                        <td>{{ appointment.appointmentStatus }}</td>
                        <td>{{ appointment.remarks }}</td>
                        <td>{{ appointment.active ? 'Yes' : 'No' }}</td>
                        <td>{{ appointment.bookedDate }}</td>
                        <td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>