<div class="subtoolbar promotionstoolbar">
  <div class="sub-nav-menu">
    <!-- <a href="javascript:void(0)" [routerLink]="['/public-forms/contactus']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customers-customer'">
      <span><img src="assets/img/header-icons/customer/customer-detail.svg" alt="customer"/><img src="assets/img/header-icons/customer/customer-detail-on.svg" alt="customer"/></span>  Contact Us
    </a> -->
    <a href="javascript:void(0)" [routerLink]="['/promotions/freeproducts']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'promotions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Free Products
    </a>
    <!-- <a href="javascript:void(0)" [routerLink]="['/customers/groups']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customer-groups'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Discount Promotions
    </a> -->
    <a href="javascript:void(0)" [routerLink]="['/promotions/coupon-based']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'promotions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Cart Value-Coupon Based
    </a>
    <!-- <a href="javascript:void(0)" [routerLink]="['/customers/groups']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customer-groups'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Flat Discount
    </a> -->
    <a href="javascript:void(0)" [routerLink]="['/promotions/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'promotions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span>Cart Value
    </a>
    <a href="javascript:void(0)" [routerLink]="['/promotions/discount-Products/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'promotions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span>Discount
    </a>
    <a href="javascript:void(0)" [routerLink]="['/promotions/signup-coupons']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'promotions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span>Sign up Coupons
    </a>
  </div>
</div>

