<div class="subtoolbar customertoolbar">
  <div class="sub-nav-menu">
    <a href="javascript:void(0)" [routerLink]="['/public-forms/contactus']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'subscriptions'">
      <span><img src="assets/img/header-icons/customer/customer-detail.svg" alt="customer"/><img src="assets/img/header-icons/customer/customer-detail-on.svg" alt="customer"/></span>  Contact Us
    </a>
    <a href="javascript:void(0)" [routerLink]="['/public-forms/feedbacks']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'subscriptions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Feedbacks
    </a>
    <a href="javascript:void(0)" [routerLink]="['/public-forms/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'subscriptions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Franchise
    </a>
    <!-- <a href="javascript:void(0)" [routerLink]="['/public-forms/bannerswidgets']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customer-groups'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Banners Widgets
    </a> -->
    <a href="javascript:void(0)" [routerLink]="['/public-forms/enquiry/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'subscriptions'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Corporate Gifting
    </a>
     <!-- <a href="javascript:void(0)" [routerLink]="['/public-forms/joinourtroop/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customer-groups'">
      <span><img src="assets/img/header-icons/customer/customer-group.svg" alt="group"/><img src="assets/img/header-icons/customer/customer-group-on.svg" alt="group" /></span> Join Our Troop
    </a>  -->
    <!-- <a href="javascript:void(0)" [routerLink]="['/cms/banners']" [appHideIfUnauthorized]="'cms-banners'" [routerLinkActive]="'active'">
      <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> {{'Banners Widgets'| translate}}
  </a> -->
  </div>
</div>

