.apply-btn input{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.gen-btn{
    margin-top: 33px;
}
.percentvalue{
    display: flex;
    margin-left: 22px;
    margin-top: 20px;
}
.productdata{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.productdata p{
    margin-top: 15px;
    margin-left: 15px;
}
.offers{
    margin: 22px;
    word-wrap: break-word;
}