<app-pageGroup-layout></app-pageGroup-layout>
<div class="row products-section products-sub-section">

    <div class="col-12">
        <div class="flex filter-row">
            <div class="filter-lft">
            </div>
            <!--Lft-->
            <div class="filter-nav-list">
                <div class="bc-col-btn">
                    <button class="btn cms-btn" (click)="addPageGroup()" [appHideIfUnauthorized]="'add-page-group'"><img
                            src="assets/img/add-white-ico.png" alt="add">{{'CMS.PageGroup.AddGroup' | translate}}
                    </button>
                </div>
                <ul class="flex">

                </ul>
            </div>
            <!--Right-->
        </div>
    </div>
</div>

<div class="flex product-wrap">

    <div class="product-table cms-content-table" style="width:100%">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" width="5%">
                            <div class="form-group">
                            </div>
                        </th>
                        <th scope="col">{{'CMS.PageGroup.GroupName' | translate}}</th>
                        <th scope="col" class="text-center">{{'CMS.PageGroup.Status' | translate}}</th>
                        <th scope="col" width="100" class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['page-group-delete','Edit-page-group']">{{'CMS.Pages.Action' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pagesList of appSandbox.pageGroupList$ | async; let i=index">
                        <th scope="row" class="text-center">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2"></div>
                            </div>
                        </th>
                        <td class="name">{{pagesList.groupName}}</td>

                        <td class="text-center">
                            <div *ngIf="pagesList.isActive == 1">
                                <span class="tag-active">{{'Settings.Role.Active'| translate}}</span>

                            </div>
                            <div *ngIf="pagesList.isActive == 0">
                                <span class="tag-inactive">{{'Settings.Role.InActive'| translate}}</span>

                            </div>
                        </td>
                        <td class="text-center" [appHideIfUnauthorized]="" [multipleHide]="['page-group-delete','Edit-page-group']">
                            <div class="dropdown" ngbDropdown>
                                <i class="fa fa-ellipsis-v cursor" style="padding:0 15px" ngbDropdownToggle> </i>
                                <div ngbDropdownMenu class="dropdown-menu">
                                    <a [appHideIfUnauthorized]="'Edit-page-group'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="editPageGroup(pagesList)"> <img src="assets/img/edit.png" alt="edit"/>{{'CMS.Pages.Edit' | translate}} </a>
                                    <a [appHideIfUnauthorized]="'page-group-delete'" class="dropdown-item" ngbDropdownItem href="javascript:void(0)" (click)="deletePageGroup(pagesList.groupId)"> <img src="assets/img/delete-new.png"alt="delete">{{'CMS.Pages.Delete' | translate}} </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no_data" *ngIf="(appSandbox.pageGroupList$ | async)?.length==0">
                <p>{{'Sales.Orders.datanotfound'| translate}}</p>
            </div>
        </div>
        <mat-paginator [length]="appSandbox.pageGroupListCount$ | async" [pageSizeOptions]="[pageSize]" [pageSize]="pageSize" [pageIndex]="index" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>