.search-item{
    display: flex;
    margin-left: 10px;
}
.search-btn{
    background-color: #dc4d5b!important;
    color: #fff;
    border: #dc4d5b;
    margin-left: 5px;
    width: 30%;
    border-radius: 5px;
}
.btn{
    background-color: #dc4d5b!important;
    color: #fff;
    border: #dc4d5b;
    margin-left: 5px;
    border-radius: 5px;
}