<input type="text" id="focusOut" style="height: 0; width: 0; opacity: 0;">
<form class="filter-form" [formGroup]="statusFilterForm">
    <div class="form-group">
        <label for="keyboard">{{'CMS.PageGroup.GroupName'| translate}} </label>
        <input type="text" formControlName="keyword" class="form-control" id="keyboard" placeholder="{{'CMS.PageGroup.GroupName'| translate}}" />
    </div>
    <div class="text-right filter-btns">
        <a (click)="reset()" style="cursor: pointer">{{'CMS.Pages.Reset'| translate}}</a>
        <button type="submit" (click)="onSubmit()" class="btn">{{'CMS.Pages.ApplyFilters'| translate}}</button>
    </div>
</form>