<div class="marg">
    <div class="login">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <img style="padding-top: 10%;" src="/assets/img/admin_logo.png" width="220px" height="520px" alt="login" class="spurt-img">
                
            </div>
            <div class="col-md-5 col-sm-6">
                <router-outlet></router-outlet>

            </div>
        </div>

    </div>
    <div class="ttt">Red Chief. © 2022. All Rights Reserved</div>
</div>