<div class="subtoolbar cmstoolbar">
    <div class="sub-nav-menu">
        <a href="javascript:void(0)" [routerLink]="['/cms/pages']" [appHideIfUnauthorized]="'cms-pages'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-files.svg" alt="pages"><img src="assets/img/header-icons/cms/cms-files-on.svg" alt="pages"></span> {{'CMS.Pages.Pages'| translate}}
        </a>
        <a href="javascript:void(0)" [routerLink]="['/cms/page-group']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'cms-page-group'">
            <span><img src="assets/img/header-icons/cms/cms-page group.svg"  alt="pagegroup"><img src="assets/img/header-icons/cms/cms-page group active.svg"  alt="pagegroup"></span> {{'CMS.Pages.PageGroup'| translate}}
        </a>
        <a href="javascript:void(0)" [routerLink]="['/cms/banners']" [appHideIfUnauthorized]="'cms-banners'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> {{'CMS.Banners.Banners'| translate}}
        </a>
        <a class="d-none" href="javascript:void(0)" [routerLink]="['/cms/add-our-brand']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Our brand
        </a>
        <a href="javascript:void(0)" [routerLink]="['/cms/add-offer-image']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Offer Image
        </a>
        <!-- <a href="javascript:void(0)" [routerLink]="['/cms/list']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Category Image
        </a> -->
        <a href="javascript:void(0)" [routerLink]="['/cms/Blogs/list']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Blogs
        </a>
        <a href="javascript:void(0)" [routerLink]="['/cms/comment/list']" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Comments
        </a>
        <!-- <a href="javascript:void(0)" class="temp-data-hide" [routerLink]="['/cms/blogs']" [appHideIfUnauthorized]="'cms-blogs'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-blog.svg"  alt="blog"><img src="assets/img/header-icons/cms/cms-blog-on.svg"  alt="blog"></span>{{'CMS.Blog.Blogs'| translate}}
        </a> -->

        <a href="javascript:void(0)" [routerLink]="['/cms/furo-banners']" [appHideIfUnauthorized]="'cms-banners'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Furo Banner
        </a>
        <a href="javascript:void(0)" [routerLink]="['/cms/furo-home-page']" [appHideIfUnauthorized]="'cms-banners'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Furo Home Page
        </a>
        <a href="javascript:void(0)" [routerLink]="['/cms/category-list']" [appHideIfUnauthorized]="'cms-banners'" [routerLinkActive]="'active'">
            <span><img src="assets/img/header-icons/cms/cms-banner.svg"  alt="banner"><img src="assets/img/header-icons/cms/cms-banner-on.svg"  alt="banner"></span> Category Image
        </a>
    </div>
</div>