<div class="subtoolbar customertoolbar">
  <div class="sub-nav-menu">
    <a href="javascript:void(0)" [routerLink]="['/manage-appointments/appointments/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customers-customer'">
      <span><img src="assets/img/header-icons/customer/customer-detail.svg" alt="customer"/><img src="assets/img/header-icons/customer/customer-detail-on.svg" alt="customer"/></span>Appointments
    </a>
    
    <a href="javascript:void(0)" [routerLink]="['/manage-appointments/booked-appointments/list']" [routerLinkActive]="'active'" [appHideIfUnauthorized]="'customers-customer'">
      <span><img src="assets/img/header-icons/customer/customer-detail.svg" alt="customer"/><img src="assets/img/header-icons/customer/customer-detail-on.svg" alt="customer"/></span>Booked Appointments
    </a>
    
  </div>
</div>

